/*

	Supersized - Fullscreen Slideshow jQuery Plugin
	Version : 3.2.7
	Site	: www.buildinternet.com/project/supersized

*/

* { margin:0; padding:0; }
body { background:#111; height:100%; }
	img { border:none; display: block; margin-left: auto; margin-right: auto}
p {text-align:center; color:white; font-size:20px;}
hr {width:8%; height:2px; background-color:white; color:white; margin-left:auto; margin-right:auto; margin-top:2%; margin-bottom:2%;}
a {color:white;}

	#supersized-loader { position:absolute; top:50%; left:50%; z-index:0; width:60px; height:60px; margin:-30px 0 0 -30px; text-indent:-999em; background:url(../img/progress.gif) no-repeat center center;}

	#supersized {  display:block; position:fixed; left:0; top:0; overflow:hidden; z-index:-999; height:100%; width:100%; }
	#supersized img { width:auto; height:auto; position:relative; display:none; outline:none; border:none; }
	#supersized.speed img { -ms-interpolation-mode:nearest-neighbor; image-rendering: -moz-crisp-edges; }	/*Speed*/
	#supersized.quality img { -ms-interpolation-mode:bicubic; image-rendering: optimizeQuality; }			/*Quality*/

	#supersized li { display:block; list-style:none; z-index:-30; position:fixed; overflow:hidden; top:0; left:0; width:100%; height:100%; background:#111; }
	#supersized a { width:100%; height:100%; display:block; }
	#supersized li.prevslide { z-index:-20; }
	#supersized li.activeslide { z-index:-10; }
	#supersized li.image-loading { background:#111 url(../img/progress.gif) no-repeat center center; width:100%; height:100%; }
	#supersized li.image-loading img{ visibility:hidden; }
	#supersized li.prevslide img, #supersized li.activeslide img{ display:inline; }



			#demo-block{display:block;	position:relative;	width:65%;min-width:380px;	height:100%;	margin:-10px; padding-top: 15%; margin: 2% auto; background-color: rgba(5, 4, 2, 0.65);}

	/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
		#demo-block { padding-left:0%;padding-top:0%;}
		#demo-block img {width:80%;padding:5%;}
}

/* All Smartphones in portrait and landscape ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
		#demo-block { padding-left:0%;padding-top:0%;}
		#demo-block img {width:80%;padding:5%;}
}


/* All Smartphones in portrait ----------- */
@media only screen
and (max-width : 479px) {
		#demo-block { padding-left:0%;padding-top:0%;}
		#demo-block img {width:80%;padding:5%;}
}

/***** ANDROID DEVICES *****/

/* Android 240 X 320 ----------- */
@media only screen
and (max-width: 241px){
		#demo-block { padding-left:0%;padding-top:0%;}
		#demo-block img {width:80%;padding:5%;}
}

/* Android(Samsung Galaxy) in portrait 380 X 685 ----------- */
@media only screen
and (min-width: 375px)
and (max-width: 385px){
		#demo-block { padding-left:0%;padding-top:0%;}
		#demo-block img {width:80%;padding:5%;}
}

/* Android(Samsung Galaxy) in Landscape 685 X  380 ----------- */
@media only screen
and (min-width: 680px)
and (max-width: 690px){
		#demo-block { padding-left:0%;padding-top:0%;}
		#demo-block img {width:80%;padding:5%;}
}

/* Kindle Portrait 600 X 1024 ----------- */
@media only screen
and (min-width: 595px)
and (max-width: 610px){
		#demo-block { padding-left:0%;padding-top:0%;}
		#demo-block img {width:80%;padding:5%;}
}

/* Kindle Landscape 1024 X 600 ----------- */
@media only screen
and (min-width: 1000px)
and (max-width: 1030px){
#demo-block { padding-left:0%;padding-top:0%;}
		#demo-block img {width:80%;padding:5%;}
}

/***** ALL GENERATION IPADS *****/

/* iPads in portrait and landscape----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
#demo-block { padding-left:0%;padding-top:0%;}
		#demo-block img {width:80%;padding:5%;}
}

/* iPad in landscape----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
#demo-block { padding-left:0%;padding-top:0%;}
		#demo-block img {width:80%;padding:5%;}
}

/* iPad in portrait----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait){
#demo-block { padding-left:0%;padding-top:0%;}
		#demo-block img {width:80%;padding:5%;}
}



/***** Retina IPAD 3 & 4*****/

/* Retina iPad 3 & 4 in portrait and landscape----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 2){
#demo-block { padding-left:0%;padding-top:0%;}
		#demo-block img {width:80%;padding:5%;}
}

/* Retina iPad 3 & 4 in landscape----------- */

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2){
#demo-block { padding-left:0%;padding-top:0%;}
		#demo-block img {width:80%;padding:5%;}
}

/* Retina iPad 3 & 4 in landscape----------- */

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2){
#demo-block { padding-left:0%;padding-top:0%;}
		#demo-block img {width:80%;padding:5%;}
}




/***** IPAD 1 & 2 (ALSO IPAD MINI)*****/

/* iPad 1 & 2 in portrait and landscape ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 1){
#demo-block { padding-left:0%;padding-top:0%;}
		#demo-block img {width:80%;padding:5%;}
}

/* iPad 1 & 2 in landscape ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1)  {
#demo-block { padding-left:0%;padding-top:0%;}
		#demo-block img {width:80%;padding:5%;}
}

/* iPad 1 & 2 in portrait ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 1){
#demo-block { padding-left:0%;padding-top:0%;}
		#demo-block img {width:80%;padding:5%;}
}

/* Only iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
#demo-block { padding-left:0%;padding-top:0%;}
		#demo-block img {width:80%;padding:5%;}
}
